.short-summary-card {
  width: 180px;
  height: 70px;
  background: var(--sidebar-bg-color);
  border: 1px solid var(--main-text-color);
  border: 1px solid #fcfcfc;
  box-shadow: 0px 4px 4px #989898;
  border-radius: 10px;
  margin: 10px 14px;
  display: flex;
  padding: 10px 15px;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.short-summary-card-value {
  font-weight: 700;
  font-size: 30px;
  line-height: 42px;
  color: var(--primary-color);
}

.short-summary-card-icon {
  height: 31px;
  width: 31px;
}

@media only screen and (max-width: 900px) {
  .short-summary-card {
    width: 180px;
    margin: 10px 5px;
    display: flex;
    padding: 10px 7px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .short-summary-card-value {
    font-size: 29px;
  }
}

@media only screen and (max-width: 786px) {
  .short-summary-card {
    width: 100px;

    height: 100px;
    padding: 10px 10px;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 14px;
  }

  .short-summary-card-value {
    font-size: 32px;
  }
}

@media only screen and (max-width: 500px) {
  .short-summary-card {
    width: 100px;
    margin: 10px 0px;
    display: flex;
    padding: 10px 4px;
    
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .short-summary-card-value {
    font-size: 29px;
  }
}
