.new-campaign-container {
  color: var(--primary-color);
  padding: 5px 25px;
  margin: 5px 25px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*------------------- Navbar ------------------- */

.newcampaign-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.newcampaign-title h1 {
  font-weight: 700;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.saveFormBtn,
.nextBtn {
  height: 60px;
  width: 200px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  float: right;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.nextBtn {
  height: 50px;
  width: 100px;
  font-size: 23px;
}

.toggle-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  font-size: 27px;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-title {
  font-weight: 700;
  font-size: 24px;
  /* margin-bottom: 24px;
  margin-left: 10px; */
}

/*------------- Basic Form Sections -----------*/

.newcampaign-settings {
  background-color: #1b1a21;
  padding: 22px;
  border-radius: 10px;
  margin: 0 20px;
  margin-bottom: 20px;

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.basic-form-settings,
.referrals-settings,
.rewards-settings,
.emails-settings,
.integration-settings,
.template-settings {
  margin: 0 40px;
  padding: 0 40px;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.campaignform,
.store-links,
.collect-setup {
  margin: 20px 40px;
  padding: 20px 40px;
}
input:required {
  border: 2px solid rgb(237, 132, 132);
}

/* .newcampaign-form-heading {
  font-weight: 700;
  font-size: 29px;
  margin-bottom: 24px;
  margin-left: 10px;
} */

.basic-settings-form {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.basic-settings-form .form-group {
  display: flex;
  gap: 30px;
}

.input-form-groups {
  margin: 20px 0;
  padding: 20px 0;
}

.error-message {
  font-size: 20px;
  margin: 20px;
}

.form-group {
  margin: 0 40px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* align-content: stretch; */
  /* align-items: center; */
}

/* Labels */

label {
  font-size: 21px;
  font-weight: 500;
  margin: 10px 0;
  color: rgb(245, 239, 239);
}

/* Input Fields inside the form */
.campaign-form .input-form-groups input {
  background-color: #25242d;
  border: none;
  padding: 25px 10px;
  border-radius: 18px;
  height: 45px;
  color: white;
  width: 500px;
  font-size: 20px;
  font-weight: 500;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

/*    Products Select field */
.select-products,
.select-user-input {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-products select,
.select-user-input select {
  display: block;
  padding: 12px 16px;
  background-color: #25242d;
  border: none;
  border-radius: 18px;
  height: 45px;
  color: white;
  width: 500px;
  font-size: 20px;
  font-weight: 500;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.select-products:after,
.select-user-input:after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  color: #f1ecec;
}

.datepicker-input {
  padding-left: 10px;
}
/*     Date Selector Input field  */
.wrapper {
  position: relative;
}
.icon {
  height: 1.5rem;
  width: 1.5rem;
  color: #fff;
  padding: 4px;
  position: absolute;
  box-sizing: border-box;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.icon:hover {
  cursor: pointer;
}

.example-custom-input {
  height: 50px;
  box-sizing: border-box;
  padding-right: 1.9rem;
  background-size: 20px;
  color: #fff;
}

.example-custom-input:focus-visible {
  border-bottom-color: #e3dee0;
  outline: none;
}

/* Store Social Links inside camapign form Section */

.store-links .sub-heading {
  /* padding: 0 20px; */
  /* margin: 0 25px; */
  /* margin-bottom: 30px; */
}

.campaign-form .store-links .store-social-links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* margin-left: 50px; */
}

.campaign-form .store-links .social-input-form {
  display: flex;
  gap: 10px;
  align-items: center;
}

.campaign-form .store-links .social-input {
  height: 20px;
  width: 20px;
}

.store-social-icons {
  font-size: 22px;
}

.campaign-form .store-links .social-inputfield {
  height: 30px;
  width: 270px;
  background-color: #25242d;
  border: none;
  color: #fff;
  padding: 10px;
  line-height: 1.4;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.sub-heading {
  font-size: 20px;
  margin-top: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* Collect Emails */

.collect-setup {
  /* margin-bottom: 20px; */
}

.collect-settings {
  /* padding-left: 40px; */
  /* margin-left: 40px; */
}
.collect-settings div {
  display: flex;
  align-items: center;
  gap: 10px;
}
.next-btn-toggle {
  display: flex;
  justify-content: flex-end;
}
.collect-settings label {
  font-size: 17px;
}

.collect-settings .checkbox-input {
  height: 20px;
  width: 30px;
}

input:checked,
input[type="checkbox"]:checked {
  accent-color: var(--secondary-text-color);
  border: 1px solid var(--primary-color);
}

.edit-btn {
  height: auto;
  padding: 15px;
  word-wrap: break-word;
  width: 250px;
  background-color: var(--secondary-color);
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* -------------------- Referral Settings -------------------------- */
/* ========================================================================== */

.referral-settings-form {
  padding: 20px 40px;
  margin: 20px 40px;
}

.referral-container p {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 1.6;
}
/* Social Media Integration Sections */

.social-links-container {
  margin: 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  row-gap: 25px;
}

.referral-nextbtn {
  display: flex;
  justify-content: flex-end;
}

/*----------------------- Reward Tier-------------------- */

.rewards-settings-form {
  padding: 20px 40px;
  margin: 20px 40px;
}
.rewards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  margin-bottom: 30px;
  background-color: transparent;
}

.reward-card {
  background-color: #25242d;
  border-radius: 16px;
  box-shadow: 0px 5px 11px 9px #1d1b1bd6;
  padding: 44px;
  margin: 32px 20px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.rewards-settings-form p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6;
}

.discount-settings {
  line-height: 0.9;
}

.discount-settings div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.discount-settings .social-radioInput {
  height: 20px;
  width: 30px;
}
.reward-section {
  display: flex;
  justify-content: flex-end;
}

.reward-setting-btn {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/*-------------------------- Email Section---------------------------------- */
.email-container {
  padding: 20px 40px;
  margin: 20px 40px;
}

.email-optCheck {
  margin: 20px 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.email-optCheck label {
  font-size: 20px;
}

.email-optCheck .checkbox-input {
  height: 20px;
  width: 20px;
}

.email-container section {
  background-color: #ebf0f2;
  color: #252525;
  padding: 25px;
  margin-bottom: 40px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.email-section {
  height: 100%;
  background-color: #ebf0f2;
}
.email-section h2 {
  padding-left: 20px;
  font-size: 24px;
  line-height: 1.4;

  margin-bottom: 20px;
  padding-bottom: 20px;
  font-weight: 700;
}
.email-section .email-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ebf0f2;
}

.email-section .email-content img {
  height: 50px;
  width: 200px;
  margin: 30px 0;
}

.email-textinput {
  width: 100%;
  border: none;
  font-size: 20px;
  color: #1a1919;
  padding: 35px;
  border-radius: 14px;
  margin-bottom: 20px;
  background-color: #dddfe0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
}

.email-setting-section {
  display: flex;
  justify-content: space-between;
}

/* -----------------Integration Settings-------------------- */
.integration-container {
  padding: 20px 40px;
  margin: 20px 40px;
}

.integration-settings-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}
.check-input {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.integration-container .check-input {
  display: flex;
  align-items: center;
}

.check-input input {
  height: 28px;
  margin: 10px;
  width: 25px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  padding-left: 15px;
  text-indent: -15px;
}
.integration-settings-container input {
  background-color: #25242d;
  border: none;
  padding: 25px 15px;
  border-radius: 12px;
  height: 60px;
  color: white;
  width: 620px;
  font-size: 23px;
  font-weight: 500;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.integrate-setting-btn {
  display: flex;
  justify-content: flex-end;
}

/*------------- Template Settings -------------------- */

.template-container {
  padding: 20px 40px;
  margin: 20px 40px;
}

.template-content p,
.laststep p {
  font-size: 20.5px;
  color: #d9d9d9;
}

.template-end {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.templates-block-container {
  margin: 25px 3px;
  background-color: #d9d9d9;
  padding: 20px;
}

.template-cards {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 25px 0;
}
.template-card-block {
  height: 290px;
  width: 450px;
  background-color: #fff;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
.template-card-block h3 {
  font-size: 25px;
  font-weight: 500;
  line-height: 1.6;
  margin: 0 25px;
  text-decoration: underline;
  cursor: pointer;
}

.template-card-block img {
  height: 100%;
  width: 100%;
  border-radius: 12px;
  cursor: pointer;
}
.template-card-block:first-child {
  background-color: #5447df;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* CSS for loading overlay */
#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.836);
  z-index: 9999;
  display: none;
}

#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #050505;
}

#loading-spinner h2 {
  font-size: 25px;
  font-weight: 700;
  line-height: 1.6;
}

/*--------------- Media Queries----------------------- */

@media screen and (max-width: 1480px) {
  .new-campaign-container {
    padding: 9px;
    margin: 20px;
  }

  .campaign-form .input-form-groups input,
  .select-products select,
  .select-user-input select {
    width: 400px;
  }

  .store-links .sub-heading {
    padding: 0 10px;
    margin: 0 11px;
    margin-bottom: 30px;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }

  .campaign-form .store-links .social-inputfield {
    height: 40px;
    width: 100%;
  }

  /* Referral Settings */

  /* Social Media Integration Sections */

  .social-media-section {
    padding: 0 30px;
    margin: 0 30px;
  }

  .social-links-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Reward settings */

  .rewards-settings-form p {
    font-size: 18px;
  }

  .reward-container {
    padding: 0 42px;
    margin: 0 40px;
  }

  .rewards-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
  }

  /* Integrations Settings */
  .integration-container {
    margin: 0 25px;
    padding: 0 25px;
  }

  .integration-settings-container {
    margin: 0 20px;
  }
  .integration-settings-container input,
  .select-user-input select {
    width: 350px;
    font-size: 19px;
  }

  .templates-block-container {
    overflow: auto;
    overflow-y: hidden;
  }
  .template-card-block h3 {
    font-size: 20px;
    margin: 0 15px;
  }
}

@media only screen and (max-width: 1280px) {
  .new-campaign-container {
    padding: 9px;
    margin: 20px;
  }

  .basic-form-settings,
  .referrals-settings,
  .rewards-settings,
  .emails-settings,
  .integration-settings,
  .template-settings {
    margin: 0 13px;
    padding: 0 15px;
  }

  .campaignform,
  .store-links,
  .collect-setup,
  .referral-settings-form,
  .reward {
    margin: 15px 11px;
    padding: 12px 5px;
  }

  .nextBtn {
    height: 40px;
    width: 90px;
    font-size: 20px;
  }

  .collect-settings {
    padding-left: 12px;
  }

  /* Basic Form Settings */

  .input-form-groups {
    margin: 0 15px;
  }

  .form-group {
    flex-direction: column;
  }
  .campaign-form .input-form-groups input,
  .campaign-form .input-form-groups select {
    width: 100%;
  }

  .store-links .sub-heading {
    padding: 0 10px;
    margin: 0 11px;
    margin-bottom: 30px;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }

  .campaign-form .store-links .social-inputfield {
    height: 40px;
    width: 100%;
  }

  /* Reward Tier Settings */
  .referral-container p {
    padding: 0 10px;
    margin: 20px 10px;
    word-wrap: break-word;
  }
  /* Social Media Integration Sections */

  .social-media-section {
    padding: 0 8px;
    margin: 0 5px;
  }

  .social-links-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Reward settings */
  .rewards-settings-form {
    margin: 20px 15px;
    padding: 18px 15px;
  }
  .rewards-settings-form p {
    margin-top: 20px;
    font-size: 18px;
  }

  .reward-container {
    padding: 0 16px;
    margin: 0 23px;
  }

  .rewards-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 20px;
  }

  /* Email Settings */
  .email-container {
    padding: 0 17px;
    margin: 0 24px;
  }

  .email-optCheck label {
    line-height: 1.3;
  }

  .email-optCheck .checkbox-input {
    width: 70px;
  }

  .email-container section {
    /* padding: 19px 8px; */
  }
  .email-section h2 {
    padding-left: 12px;
    line-height: 1.4;
    font-size: 23px;
  }
  .email-textinput {
    width: 100%;
    border: none;
    font-size: 21px;
    color: #1a1919;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #ebf0f2;
  }

  /* Integrations Settings */
  .integration-container {
    margin: 20px 20px;
    padding: 0 20px;
  }

  .integration-settings-container {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .integration-settings-container input,
  .select-user-input select {
    width: 100%;
  }

  .template-container {
    margin: 0 15px;
    padding: 0 20px;
  }

  .template-card-block h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 1050px) {
  .new-campaign-container {
    padding: 9px;
    margin: 20px;
  }

  .basic-form-settings,
  .referrals-settings,
  .rewards-settings,
  .emails-settings,
  .integration-settings,
  .template-settings {
    margin: 0 13px;
    padding: 0 15px;
  }

  .campaignform,
  .store-links,
  .collect-setup,
  .referral-settings-form,
  .reward {
    margin: 15px 11px;
    padding: 12px 5px;
  }

  .nextBtn {
    height: 40px;
    width: 90px;
    font-size: 20px;
  }

  .collect-settings {
    padding-left: 12px;
  }

  /* Basic Form Settings */

  .input-form-groups {
    margin: 0 15px;
  }

  .form-group {
    flex-direction: column;
  }
  .campaign-form .input-form-groups input,
  .campaign-form .input-form-groups select {
    width: 100%;
  }

  .store-links .sub-heading {
    padding: 0 10px;
    margin: 0 11px;
    margin-bottom: 30px;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 20px;
  }

  .campaign-form .store-links .social-inputfield {
    height: 40px;
    width: 100%;
  }

  /* Reward Tier Settings */
  .referral-container p {
    padding: 0 10px;
    margin: 20px 10px;
    word-wrap: break-word;
  }
  /* Social Media Integration Sections */

  .social-media-section {
    padding: 0 8px;
    margin: 0 5px;
  }

  .social-links-container {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Reward settings */
  .rewards-settings-form {
    margin: 20px 15px;
    padding: 18px 15px;
  }
  .rewards-settings-form p {
    margin-top: 20px;
    font-size: 18px;
  }

  .reward-container {
    padding: 0 16px;
    margin: 0 23px;
  }

  .rewards-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 20px;
  }

  /* Email Settings */
  .email-container {
    padding: 0 17px;
    margin: 0 24px;
  }

  .email-optCheck label {
    line-height: 1.3;
  }

  .email-optCheck .checkbox-input {
    width: 70px;
  }

  .email-container section {
    /* padding: 19px 8px; */
  }
  .email-section h2 {
    padding-left: 12px;
    line-height: 1.4;
    font-size: 23px;
  }
  .email-textinput {
    width: 100%;
    border: none;
    font-size: 21px;
    color: #1a1919;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #ebf0f2;
  }

  /* Integrations Settings */
  .integration-container {
    margin: 20px 20px;
    padding: 0 20px;
  }

  .integration-settings-container {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .integration-settings-container input,
  .select-user-input select {
    width: 100%;
  }

  .template-container {
    margin: 0 15px;
    padding: 0 20px;
  }

  .template-card-block h3 {
    font-size: 18px;
  }
}
@media only screen and (max-width: 786px) {
  .new-campaign-container {
    padding: 5px;
    margin: 15px;
  }

  .basic-form-settings,
  .referrals-settings,
  .rewards-settings,
  .integration-settings,
  .template-settings {
    margin: 0 7px;
    padding: 0 5px;
  }

  /* Basic Form Settings */

  .campaignform,
  .store-links,
  .collect-setup {
    margin: 15px 5px;
    padding: 12px 5px;
  }

  .collect-settings {
    padding-left: 12px;
  }
  .input-form-groups {
    margin: 0 25px;
  }

  .form-group {
    flex-direction: column;
  }
  .campaign-form .input-form-groups input,
  .campaign-form .input-form-groups select {
    width: 100%;
  }

  .store-links .sub-heading {
    padding: 0 10px;
    margin: 0 11px;
    margin-bottom: 30px;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }

  .campaign-form .store-links .social-inputfield {
    height: 40px;
    width: 100%;
  }

  /* Referral Settings */

  .referral-settings-form {
    padding: 20px 7px;
    margin: 20px 4px;
  }

  /* Reward Tier Settings */
  .referral-container p {
    padding: 0 10px;
    margin: 0 10px;
    word-wrap: break-word;
  }

  .social-media-section {
    padding: 0 5px;
    margin: 0 4px;
  }

  .social-links-container {
    grid-template-columns: repeat(1, 1fr);
  }

  /* Reward settings */

  .rewards-settings-form {
    padding: 20px 10px;
    margin: 20px 10px;
  }
  .rewards-settings-form p {
    font-size: 18px;
  }

  .reward-container {
    padding: 0 10px;
    margin: 0 15px;
  }

  .rewards-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 30px;
    background-color: transparent;
  }

  /* Email Settings */
  .email-container {
    padding: 0 10px;
    margin: 0 10px;
  }

  .email-optCheck .checkbox-input {
    width: 70px;
  }

  .email-container section {
    padding: 19px 8px;
  }
  .email-section h2 {
    padding-left: 12px;
    line-height: 1.4;
    font-size: 22px;
    font-weight: 700;
  }
  .email-textinput {
    width: 100%;
    border: none;
    font-size: 21px;
    color: #1a1919;
    padding: 16px;
    margin-bottom: 20px;
    background-color: #ebf0f2;
  }
  /* Integrations Settings */
  .integration-container {
    margin: 20px 10px;
    padding: 20px 10px;
  }

  .integration-settings-container {
    flex-direction: column;
    margin: 0 10px;
  }
  .integration-settings-container input,
  .select-user-input select {
    width: 100%;
  }

  /* Animation for Loading screens */
  #loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 20px;
    transform: translate(-50%, -50%);
    color: #050505;
  }
  #loading-spinner h2 {
    margin: 20px;
    font-size: 20px;
    word-break: keep-all;
    font-weight: 500;
  }

  /* Template settings */

  .template-container {
    padding: 20px 10px;
    margin: 20px 10px;
  }

  .templates-block-container {
    margin: 20px 5px;
  }

  .template-cards {
    flex-direction: column;
    gap: 20px;
  }

  .template-card-block {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .new-campaign-container {
    padding: 10px 6px;
    margin: 10px 6px;
  }

  .newcampaign-title h1 {
    font-size: 28px;
    margin: 20px;
  }
  /* Basic Form Settings */
  .input-form-groups {
    margin: 0 25px;
  }

  .nextBtn {
    height: 40px;
  }

  .campaignform,
  .store-links,
  .collect-setup {
    margin: 20px 10px;
    padding: 20px 10px;
  }

  .form-group {
    flex-direction: column;
  }
  .campaign-form .input-form-groups input {
    width: 100%;
  }

  .store-links .sub-heading {
    padding: 0 11px;
    margin: 30px 9px;
    color: #e6dfdf;
  }
  .campaign-form .store-links .store-social-links {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 20px;
  }

  .collect-settings div {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  /* Referral Settings */
  .referral-container p {
    padding: 0 6px;
    margin: 0 11px;
    word-break: keep-all;
  }

  .social-media-section {
    padding: 0 20px;
    margin: 0 20px;
  }
  .social-media-section {
    padding: 0 6px;
    margin: 0 4px;
  }

  /* Reward settings */

  .rewards-settings-form p {
    font-size: 18px;
  }

  .reward-container {
    padding: 0 10px;
    margin: 0 15px;
  }

  .rewards-container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 10px;
    column-gap: 20px;
    margin-bottom: 30px;
    background-color: transparent;
  }

  /* Email Settings */
  .email-container {
    padding: 0 10px;
    margin: 0 10px;
  }

  /* Integrations Settings */
  .integration-container {
    margin: 0 10px;
    padding: 0 10px;
  }

  .integration-settings-container {
    flex-direction: column;
    margin: 0 10px;
  }
  .integration-settings-container input,
  .select-user-input select {
    width: 100%;
  }

  /* Template Settings */
  .template-container {
    padding: 0 7px;
    margin: 0 4px;
  }

  .template-content p,
  .laststep p {
    margin: 0 10px;
  }

  .laststep p {
    margin-bottom: 30px;
  }

  .templates-block-container {
    margin: 20px 6px;
    padding: 5px 10px;
  }

  .template-cards {
    flex-direction: column;
    overflow: hidden;
  }
  .template-card-block {
    height: 200px;
    width: 100%;
  }
}
