.social-section {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  height: 100%;
}

.social-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.social-icons {
  font-size: 34px;
  color: rgb(89, 88, 88);
}
.social-title h3 {
  font-size: 2rem;
  font-weight: 700;
}

.check-input label{
  font-size: 18px;
}

.referral-link-input {
  width: 100%;
}

.referral-input {
  height: 80px;
  width: 100%;
  border: none;
  font-size: 16px;
  color: #dedddd;
  padding: 8px 17px;
  border-radius: 12px;
  background-color: #25242d;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

@media screen and (max-width: 1480px) {
  .referral-input {
    height: 120px;
    width: 370px;
  }
  .social-section {
    padding: 0 4px;
    margin: 0px 4px;
  }
 
  .social-section label {
    font-size: 19px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 1050px) {
  .referral-input {
    height: 130px;
    width: 290px;
  }
  .social-section label {
    font-size: 18px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 786px) {
  .social-section {
    padding: 0 5px;
    margin: 0px 5px;
  }
  .social-section label {
    font-size: 21px;
  }

  .referral-input {
    height: 120px;
    width: 420px;
  }
}

@media screen and (max-width: 500px) {
  .social-section {
    padding: 3px 3px;
    margin: 0px 3px;
  }
  .social-section label {
    font-size: 18px;
    line-height: 1.3;
  }

  .referral-input {
    height: 120px;
    width: 300px;
  }
}
